<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Alexanders DPY - Digitala Presentations Yta</title>
<link rel="stylesheet"  href="../css/normalize.css">
<link rel="stylesheet"  href="../css/main.css">
</head>

<body>

<!-- Header är ett sidhuvud som innehåller en logga eller beskrivning för hemsidan samt eventuellt en menyrad -->
<header>
<a href="index.html" id="logo">
<h1>Alexander Midjich</h1>
<h2>En digital presentations yta</h2>
</a>
	<nav id="menu">
		<ul>
			<a href="../index.html"><li>Hem</li></a>
			<a href="about.html"><li>Om mig</li></a>
			<a href="kontakt.html" class="selected"><li>Kontakt</li></a>
			<a href="uppgift.html"><li>Uppgifter</li></a>
		</ul>
	</nav>
</header>

<!-- Main är det fält där själva innehållet för sidan placeras -->
<main>
<h3>Kontaktuppgifter</h3>
<p>För den som vill komma i kontakt med mig så kommer jag här att lista mina kontaktuppgifter:</p>
	<ul>
		<li>Telefon: 076-107 44 21</li>
		<li>E-post: <a href="mailto:alexander@midjich.se">alexander@midjich.se</a></li>
		<li>Facebook: <a href="https://www.facebook.com/alexander.midjich" target="blanck">www.facebook.com/alexander.midjich</a></li>
	</ul>
	
</main>

<!-- Footer kan innehålla information som t ex kontaktuppgifter, hänvisning till ev facebook eller twitter e.d. -->
<footer>
<a href="https://www.facebook.com/alexander.midjich" target="blanck"><img src="../images/facebook.png"></a>
<a href="mailto:alexander@midjich.se"><img src="../images/mail.png"></a>
</footer>



</body>
</html>
