<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Alexanders DPY - Digitala Presentations Yta</title>
<link rel="stylesheet"  href="../css/normalize.css">
<link rel="stylesheet"  href="../css/main.css">



</head>

<body>

<!-- Header är ett sidhuvud som innehåller en logga eller beskrivning för hemsidan samt eventuellt en menyrad -->
<header>
<a href="index.html" id="logo">
<h1>Alexander Midjich</h1>
<h2>En digital presentations yta</h2>
</a>
	<nav id="menu">
		<ul>
			<a href="../index.html"><li>Hem</li></a>
			<a href="about.html"><li>Om mig</li></a>
			<a href="kontakt.html"><li>Kontakt</li></a>
			<a href="uppgift.html" class="selected"><li>Uppgifter</li></a>
		</ul>
	</nav>
</header>

<!-- Main är det fält där själva innehållet för sidan placeras -->
<main>
<h3>Uppgifter</h3>
<p>Här kommer jag lägga upp de uppgifter som jag kommer göra under utbildningen.</p>

<h3>Uppgift 1 - Vad kan jag lära dig?</h3>
<p>En av mina uppgifter går ut på att skriva om något som jag kan lära dig. <br>
Något som jag anser mig själv vara duktig på är mitt jobb. Mitt jobb går ut på att prata med mycket människor och sälja in mig själv så att de är villiga att anlita mig i deras försäljning.<br>
Vem som helst skulle jag nog våga påstå kan arbeta som fastighetsmäklare, men jag är dock inte säker på att alla kan vara duktig i det. Det krävs något speciellt för att bli en riktigt bra säljare.<br>
Som jag skrev så handlar det om förmågan att kunna sälja in sig själv i första led. Vad du har för tjänst är sekundärt och blir viktigt först när du etablerat en relation och ett förtroende med din kund.
Det är många som tror att det är viktigt att ha ett bra material med mycket grafik och förklarande text. Jag säger dock att det inte är värt någonting om du inte har fått kunden framför dig att tro på att du är rätt man för dem.<br>
Vägen till att bli en bra säljare skulle jag då kunna sammanfatta med följande punkter</p>
<ul>
	<li>Skapa en relation, hitta en gemensam nämnare med kunden.</li>
	<li>Bygg upp ett förtroende, bjud på dig själv och visa vem du är.</li>
	<li>Visa upp din framgång, att du är betrodd och rekomenderad av flera, skryt ej.</li>
	När du känner att du fått till det med dessa tre steg så går du över till mer traditionellt sälj
	<li>Visa upp tjänsten.</li>
	<li>Förklara varför just denna kund behöver din tjänst. Förklara fördelarna genom att välja dig.</li>
	<li>Få kontraktet signerat</li>
</ul>
<p>Detta är lite kort sammanfattat om vad jag tycker är några av de viktigare punkterna att tänka på för att bli en bra säljare. Något som jag brukar arbeta väldigt mycket med tillsammans med mina kollegor som ibland kan känna sig osäkra på sig själva.<br>
Nu tror jag inte att ni kommer vara några fullfjädrade säljare genom att bara läsa igenom denna korta guide. Men jag anser att det är ett steg på vägen och något som jag själv har fått lära mig genom flera års erfarenhet som fastighetsmäklare.</p>

<div id="marker"></div>

<h3>Uppgift 2 - Webben om 5 år</h3>	

<p><a href="../webben_ om_ 5_ ar.pdf" target="blanck">Klicka här</a> för att ladda upp texten som handlar om webben om fem år.</p>


<div id="marker"></div>

</main>

<!-- Footer kan innehålla information som t ex kontaktuppgifter, hänvisning till ev facebook eller twitter e.d. -->
<footer>
<a href="https://www.facebook.com/alexander.midjich" target="blanck"><img src="../images/facebook.png"></a>
<a href="mailto:alexander@midjich.se"><img src="../images/mail.png"></a>
</footer>



</body>
</html>
